<article class="appr-step" id="{{id}}" aria-labelledby="appr-{{id}}" data-reveal>
  <div class="appr-step__head">
    <span class="appr-step__num">{{index}} / 05</span>
    <h3 id="appr-{{id}}">{{title}}</h3>
    <p>{{intro}}</p>
  </div>
  <div class="appr-step__col">
    <p class="appr-step__label">What happens</p>
    <ul class="check-list">{{list:happens}}</ul>
  </div>
  <div class="appr-step__col appr-step__col--get">
    <p class="appr-step__label">What you get</p>
    <ul class="check-list">{{list:gets}}</ul>
  </div>
</article>
