<article class="sol-panel" role="tabpanel" id="sol-panel-{{id}}" aria-labelledby="sol-tab-{{id}}" tabindex="0">
  <div class="sol-panel__top">
    <span class="icon-box"><svg class="icon" aria-hidden="true"><use href="#i-{{icon}}"/></svg></span>
    <span class="sol-panel__num">{{index}} / 06</span>
  </div>
  <h3>{{title}}</h3>
  <p class="sol-panel__long">{{long}}</p>
  <p class="sol-panel__challenge"><strong>The challenge:</strong> {{challenge}}</p>
  <a class="link-arrow" href="/solutions/#{{id}}">Learn more<span class="sr-only"> about {{title}}</span> <svg class="icon" aria-hidden="true"><use href="#i-arrow-right"/></svg></a>
</article>
