<ul class="contact-info">
  <li class="ci-item">
    <span class="icon-box"><svg class="icon" aria-hidden="true"><use href="#i-mail"/></svg></span>
    <div><p class="ci-label">General Inquiries</p><a class="ci-value" href="mailto:{{site.emailInfo}}">{{site.emailInfo}}</a></div>
  </li>
  <li class="ci-item">
    <span class="icon-box"><svg class="icon" aria-hidden="true"><use href="#i-code"/></svg></span>
    <div><p class="ci-label">Development &amp; Project Inquiries</p><a class="ci-value" href="mailto:{{site.emailDev}}">{{site.emailDev}}</a></div>
  </li>
  <li class="ci-item">
    <span class="icon-box"><svg class="icon" aria-hidden="true"><use href="#i-phone"/></svg></span>
    <div><p class="ci-label">Phone</p><a class="ci-value" href="{{site.phoneHref}}">{{site.phone}}</a></div>
  </li>
  <li class="ci-item">
    <span class="icon-box"><svg class="icon" aria-hidden="true"><use href="#i-pin"/></svg></span>
    <div><p class="ci-label">Location</p><p class="ci-value">{{site.location}}</p></div>
  </li>
</ul>
